flows (3).json
[{"id":"c96ebaa9.22c648","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d6179a93.38a188","type":"function","z":"c96ebaa9.22c648","name":"PreToken","func":"global.set(\"sg\",msg.payload.sg)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"hemo\",msg.payload.hemo)\nglobal.set(\"pcv\",msg.payload.pcv)\nglobal.set(\"htn\",msg.payload.htn)\nvar apikey=\"LnXElsy5R180kQtUwOtKZvMfDa-tDDaRXjJ3zOHeuDTZ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":316.0000047683716,"wires":[["9f372c91.c5d38"]]},{"id":"9f372c91.c5d38","type":"http request","z":"c96ebaa9.22c648","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["e61f8ac9.d50878"]]},{"id":"82340396.a6ee4","type":"inject","z":"c96ebaa9.22c648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["d6179a93.38a188"]]},{"id":"f65c3c.ea04d3c8","type":"debug","z":"c96ebaa9.22c648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"e61f8ac9.d50878","type":"function","z":"c96ebaa9.22c648","name":"Pre Prediction","func":"var sg = global.get('sg')\nvar al = global.get('al')\nvar sc = global.get('sc')\nvar hemo = global.get('hemo')\nvar pcv = global.get('pcv')\nvar htn = global.get('htn')\nvar token=msg.payload.access_token\nvar instance_id=\"25fa0cdc-6052-4629-abe2-24efb1b4e743\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"SG\",\"AL\",\"SC\",\"HEMO\",\"PCV\",\"HTN\"], \"values\": [[sg,al,sc,hemo,pcv,htn]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":651.0000076293945,"y":268.00000381469727,"wires":[["b91512c0.4058f"]]},{"id":"b91512c0.4058f","type":"http request","z":"c96ebaa9.22c648","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/8e58bd17-4c44-41cb-8d1e-0425acf50fb4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":744.5000076293945,"y":212.00000381469727,"wires":[["b76750ac.3521e","b0eb2a39.07a1f8"]]},{"id":"b31d01d8.7c4f","type":"ui_form","z":"c96ebaa9.22c648","name":"","label":"","group":"9e02d164.739b4","order":0,"width":0,"height":0,"options":[{"label":"SG","value":"sg","type":"number","required":true,"rows":null},{"label":"AL","value":"al","type":"number","required":true,"rows":null},{"label":"SC","value":"sc","type":"number","required":true,"rows":null},{"label":"HEMO","value":"hemo","type":"number","required":true,"rows":null},{"label":"PCV","value":"pcv","type":"number","required":true,"rows":null},{"label":"HTN","value":"htn","type":"text","required":true,"rows":null}],"formValue":{"sg":"","al":"","sc":"","hemo":"","pcv":"","htn":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":46,"y":359,"wires":[["d6179a93.38a188"]]},{"id":"518c64b7.b7598c","type":"ui_text","z":"c96ebaa9.22c648","group":"9e02d164.739b4","order":1,"width":0,"height":0,"name":"","label":"classsification","format":"{{msg.payload}}","layout":"row-spread","x":802.6000366210938,"y":364.20001220703125,"wires":[]},{"id":"b76750ac.3521e","type":"function","z":"c96ebaa9.22c648","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":604.6000366210938,"y":107.60000610351562,"wires":[["f65c3c.ea04d3c8","518c64b7.b7598c"]]},{"id":"b0eb2a39.07a1f8","type":"debug","z":"c96ebaa9.22c648","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":320,"wires":[]},{"id":"9e02d164.739b4","type":"ui_group","z":"","name":"Default","tab":"19258ae.fa9f875","order":1,"disp":true,"width":"6","collapse":false},{"id":"19258ae.fa9f875","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]